[submodule "subsystems/scl-machine"]
	path = subsystems/scl-machine
	url = https://github.com/ostis-ai/scl-machine
	commit = fa3c72165674c7400f433302fc0aac6eb2136cc0
[submodule "sc-web"]
	path = sc-web
	url = https://github.com/ostis-ai/sc-web
	branch = c2c3532efac3865f0c840bb62f600a68f15b84da
[submodule "problem-solver/sc-machine"]
	path = problem-solver/sc-machine
	url = https://github.com/ostis-ai/sc-machine
	branch = b598d32c39736fad5ccee87eaf184e1ef7eaf9c4
[submodule "kb/ims.ostis.kb"]
	path = kb/ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb
