(handlers) {
    header_up Host {http.reverse_proxy.upstream.hostport}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
}

# Frontend -> localhost:8080
:80 {
    reverse_proxy frontend:8080 {
        import handlers
    }
}

# Gateway -> localhost:8001
:8001 {
    reverse_proxy gateway:8001 {
        import handlers
    }
}

# Keycloak -> localhost:8081
:8081 {
    reverse_proxy keycloak:8080 {
        import handlers
    }
}

# API (unified-api) -> localhost:8000
:8000 {
    reverse_proxy unified-api:8000 {
        import handlers
    }
}