(handlers) {
    header_up Host {http.reverse_proxy.upstream.hostport}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
}

(handlers_keycloak) {
    header_up Host localhost
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Host localhost
    header_up X-Forwarded-Port 8443
    header_up X-Forwarded-Ssl on
}

api.local.test {
    tls /etc/caddy/certs/local.crt /etc/caddy/certs/local.key
    reverse_proxy unified-api:8000 {
        import handlers
    }
}

frontend.local.test {
    tls /etc/caddy/certs/local.crt /etc/caddy/certs/local.key
    reverse_proxy frontend:8080 {
        import handlers
    }
}

gateway.local.test {
    tls /etc/caddy/certs/local.crt /etc/caddy/certs/local.key
    reverse_proxy gateway:8001 {
        import handlers
    }
}

# Keycloak на localhost для работы с Google OAuth
:8443 {
    tls /etc/caddy/certs/local.crt /etc/caddy/certs/local.key
    reverse_proxy keycloak:8080 {
        import handlers_keycloak
        transport http {
            versions 1.1 2
        }
    }
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }
}
